<footer>
  <hr>
  <div>
    <p class="pull-right">
      <%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %>
    </p
  </div>
    <div id="copyright" class="text-center">
        <%= cl_image_tag("logounilorin_rcmqob.png",:crop => :scale, :height => 78, :alt => "unilorin logo") %>
        <p><a href="/index">&copy; Accounting &amp; Finance | Class '99 | <%= Date.today.year %></a></p>
    </div>
</footer>
