<!-- < react_component 'Home' > -->

<% content_for(:jumbotron) do %>
  <div class="jumbotron">
    <h1>Project Ubuntu</h1>
    <p>...</p>
  </div>
<% end %>

  <div class="col-md-4">
    <h1>Venture Capitalists</h1>
  </div>
  <div class="col-md-4">
    <h1>Portfolio Investment</h1>
  </div>
  <div class="col-md-4">
    <h1>Support</h1>
  </div>
